
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="~/Content/js/jquery-1.11.1.js"></script>


    
    <script>

            $.ajax({
            url: "/Test/A1",
            success: function (result) {


            }  

          });

         $.ajax({
            url: "/Test/A2",
            success: function (result) {


            }  

        });

         $.ajax({
            url: "/Test/A3",
            success: function (result) {


            }  

        });

         $.ajax({
            url: "/Test/A4",
            success: function (result) {


            }  

         });

          $.ajax({
            url: "/Test/A5",
            success: function (result) {


            }  

        });

        $.ajax({
            url: "/Test/A6",
            success: function (result) {


            }  

        });

        setTimeout(function () {

              $.ajax({
            url: "/Test/A7",
            success: function (result) {


            }  

          });

          $.ajax({
            url: "/Test/A8",
            success: function (result) {


            }  

        });


        
        $.ajax({
            url: "/Test/A9",
            success: function (result) {


            }  

        });

         $.ajax({
            url: "/Test/A10",
            success: function (result) {


            }  

         }); 




        },3000); 

    </script>
     

</body>
</html>
