################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HttpReports
/HttpReports/bin
/HttpReports/obj
/HttpReports/Properties/PublishProfiles
*.user
