@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: true *@
@inherits HttpReports.Dashboard.Views.RazorPage
@using System.Collections.Generic
@{ 
    ViewData["Title"] = "Trend";

    var nodes = ViewData["nodes"] as List<string>;

    var lang = ViewData["Language"] as HttpReports.Dashboard.Services.Localize;

    Layout = new HttpReports.Dashboard.Views.HttpReportsTemplate { Context = Context, ViewData = ViewData };

} 
 

<div class="panel panel-default">

    <div class="panel-body" style="padding-left:30px;padding-right:30px;padding-top:30px;min-height:720px">

        <div class="row" style="padding-left:13px;padding-right:13px">

            <div class="panel panel-default">
                <div class="panel-body shadow-box" style="padding-bottom:20px">

                    <div class="form-inline form">

                        <div class="col-sm-12 form-inline form service-form">

                            <div class="col-sm-3" style="padding-left:0">
                                <label class="form-label"><i class="fa fa-paper-plane" style="margin-right:8px;margin-left:2px"></i>@lang.ServiceTag</label>
                                <select class="selectpicker service" data-live-search="true" data-style="btn-primary" data-width="220px">
                                    <option>ALL</option>
                                </select>

                            </div>

                            <div class="col-sm-3">
                                <label class="form-label"><i class="fa fa-desktop" style="margin-right:8px;margin-left:2px"></i>@lang.InstanceTag</label>
                                <select class="selectpicker instance" data-live-search="true" data-style="btn-primary" data-width="220px">
                                    <option>ALL</option>
                                </select>
                            </div> 

                        </div> 
                       
                    </div>

                    <div class="col-sm-12" style="">

                        <div class="col-sm-3" style="padding-left:0">

                            <button style="min-width:120px;" onclick="QueryClick(this)" class="btn btn-info  btn-search">@lang.Query</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body shadow-box" style="padding-top:20px;padding-bottom:14px">

                        <div class="col-sm-12">
                            <div id="MinuteStateTimesBar" style="height:300px"></div>
                        </div>

                        <div class="col-sm-12" style="margin-top:12px">
                            <div id="MinuteStateAvgBar" style="height:300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body shadow-box" style="padding-top:20px;padding-bottom:14px">

                        <div class="col-sm-12">
                            <div id="DayStateTimesBar" style="height:300px"></div>
                        </div>

                        <div class="col-sm-12" style="margin-top:12px">
                            <div id="DayStateAvgBar" style="height:300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body shadow-box">

                        <div class="col-sm-12">

                            <div id="LatelyDayChart" style="height:360px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/HttpReportsStaticFiles/Content/page/trend.js?ver=1.0.5"></script>
