@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var list = ViewBag.list as List<HttpReports.Dashboard.Models.JobRequest>;
}

<style type="text/css">

    .table td, th {
        text-align: center;
        line-height: 24px !important;
    }
</style>

<div class="panel panel-default">

    <div class="panel-body" style="padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:30px">

        <div class="row">

            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom:20px">

                    <div class="col-sm-12" style="margin-bottom:30px;padding:0">

                        <div class="col-sm-3" style="padding-left:0">

                            <a style="min-width:120px;" href="/Home/AddMonitor" class="btn btn-primary btn-search">添加</a>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>服务节点</th>
                                <th>监控规则</th>
                                <th width="276">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Test1,Test2</td>
                                <td>规则定义1</td>
                                <td>
                                    <button style="margin:4px" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> 选择规则</button>

                                    <button style="margin:4px" type="button" onclick="delJob(1)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-sign"></span> 移除规则</button>

                                </td>
                            </tr>
                            <tr>
                                <td>Test1,Test2</td>
                                <td>规则定义1</td>
                                <td>
                                    <button style="margin:4px" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> 选择规则</button>

                                    <button style="margin:4px" type="button" onclick="delJob(1)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-sign"></span> 移除规则</button>

                                </td>
                            </tr>

                            <tr>
                                <td>Test1,Test2</td>
                                <td>规则定义1</td>
                                <td>
                                    <button style="margin:4px" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> 选择规则</button>

                                    <button style="margin:4px" type="button" onclick="delJob(1)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-sign"></span> 移除规则</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SelectRuleModal">
    Launch demo modal
</button>

<!-- 选择规则弹出框 -->
<div class="modal fade" id="SelectRuleModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <b style="font-size:16px" class="modal-title"><i class="glyphicon glyphicon-transfer"></i> 选择监控规则</b> 
            </div>
            <div class="modal-body">

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>规则标题</th>
                            <th>规则描述</th> 
                            <th width="276">操作</th>
                        </tr>
                    </thead>
                    <tbody> 

                        <tr>
                            <td>服务A</td>
                            <td>监控服务节点</td>
                            <td>
                                <button style="margin:4px" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> 选择规则</button>

                                <button style="margin:4px" type="button" onclick="delJob(1)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-sign"></span> 移除规则</button>

                            </td>
                        </tr> 

                    </tbody>
                </table>

            </div> 
        </div>
    </div>
</div>  

<script>

    function startJob(Id) {

        confirm("确认要开启任务吗?", function () {

            $.ajax({

                url: "/Data/ChangeJobState/" + Id,
                success: function (result) {

                    alert("修改成功", function () {

                        location.reload();

                    });
                }
            })

        });

    }

    function stopJob(Id) {

        confirm("确认要停止任务吗?", function () {

            $.ajax({

                url: "/Data/ChangeJobState/" + Id,
                success: function (result) {

                    alert("修改成功", function () {

                        location.reload();

                    });
                }
            })

        });

    }

    function delJob(Id) {

        confirm("确认要删除任务吗?", function () {

            $.ajax({

                url: "/Data/DeleteJob/" + Id,
                success: function (result) {

                    alert("删除成功", function () {

                        location.reload();

                    });
                }
            })

        });
    }
</script>