
/*==================== 网站基本样式  ==========================*/

.icon-rounded {
  width: 66px;
  height: 66px;
  line-height: 66px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  font-size: 32px;
}

.pull-right {
  float: right;
  margin-left: 5%;
}

.pull-left {
  float: left;
  margin-right: 5%;
}

.stats {
  display: block;
  overflow: hidden;
}

  .stats h5 {
    margin: 10px 0 5px 0;
    color: #000;
    font-weight: 600;
    font-size: 20px;
  }

  .stats span {
    color: #777;
    font-size: 16px;
  }

.bgc1 {
  background-color: #7460ee;
}

.bgc2 {
  background-color: #fc4b6c;
}

.bgc3 {
  background-color: #1e88e5;
}

.bgc4 {
  background-color: #ffb22b;
}

.bgc5 {
  background-color: #00ad45;
}

.navbar-right {
  float: right;
  padding-right: 30px;
  margin-top: -60px;
}

  .navbar-right .nav-item {
    float: right;
    margin-left: 12px;
  }

  .navbar-right .nav-user span {
    color: #fff;
  }

  .navbar-right .nav-user i {
    font-size: 16px;
  }

.nav-item {
  cursor: pointer;
}

.navbar-left {
  display: block;
  float: left;
  text-align: center;
}

  .navbar-left .logo {
    width: 220px;
  }


  .navbar-left .title {
    width: 64px;
  }


  .navbar-left .logo span {
    font-size: 20px;
    color: #fff;
  }

  .navbar-left .logo img {
    font-size: 20px;
    color: #fff;
  }

.el-header {
  padding: 0;
  background-color: #344058 !important;
}

.navbar-center i {
  padding: 5px;
  margin-left: 20px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}
