@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/HttpReports/HttpReportsTemplate.cshtml";

    List<string> nodes = ViewBag.nodes;
}

<script src="/HttpReportsStaticFiles/Content/js/mSlider.min.js"></script>
<script src="/HttpReportsStaticFiles/Content/js/jquery.nicescroll.js"></script>

<style type="text/css">

    .pagination {
        float: right;
        margin: 0;
        margin-top: -18px;
    }

    .pull-left {
        margin-top: 20px;
        padding-left: 20px;
    }

    .pull-right {
        margin-top: 20px;
        padding-right: 20px;
    }

    tbody {
        margin-bottom: 20px;
    }
</style>

<div class="panel panel-default">

    <div class="panel-body" style="padding-left:30px;padding-right:30px;padding-top:30px;min-height:720px;padding-bottom:30px">

        <div class="row" style="padding-left:13px;padding-right:13px">

            <div class="panel panel-default">
                <div class="panel-body shadow-box" style="padding-bottom:20px">

                    <div class="form-inline form">

                        <div class="col-sm-12" style="margin-top:10px">

                            <b> <b><i class="glyphicon glyphicon-signal"></i> 服务节点</b></b>

                            <span class="glyphicon glyphicon-info-sign serviceTip" style="font-size:20px;top:0.2em;cursor:pointer"></span>

                            @*<button type="button" onclick="select_all(this)" style="width:60px;margin-right:8px;margin-left:8px" class="btn btn-success btn-xs">全选</button>

                                <button type="button" onclick="select_reverse(this)" style="width:60px;margin-right:8px;" class="btn btn-success btn-xs">反选</button>*@
                        </div>

                        <div class="col-sm-12 node-row" style="margin-top:8px;margin-bottom:8px;min-height:44px">

                            @foreach (var item in nodes)
                            {
                                <button onclick="check_node(this)" style="width:120px;margin-left:20px;border-radius:4px;" class="btn btn-info service-button">@item</button>
                            }
                        </div>
                    </div>

                    <div class="form-inline form" style="margin-bottom:30px;">

                        <div class="col-sm-3">
                            <label class="form-label">开始时间</label>
                            <input type="text" class="form-control laydate start">
                        </div>

                        <div class="col-sm-3">
                            <label class="form-label">结束时间</label>
                            <input type="text" class="form-control laydate end">
                        </div>

                        <div class="col-sm-3">
                            <label class="form-label">请求地址</label>
                            <input placeholder="支持模糊查询" type="text" class="form-control laydate url">
                        </div>

                        <div class="col-sm-3">
                            <label class="form-label">IP地址</label>
                            <input placeholder="" type="text" class="form-control laydate ipadress">
                        </div>
                    </div>

                    <div class="col-sm-12 timeSelect" style="margin-top:20px">

                        <button type="button" onclick="timeChange(this)" data-id="1" style="width:60px;margin-right:8px;" class="btn btn-default btn-xs">今天</button>

                        <button type="button" onclick="timeChange(this)" data-id="2" style="width:60px;margin-right:8px;" class="btn btn-default btn-xs">昨天</button>

                        <button type="button" onclick="timeChange(this)" data-id="3" style="width:60px;margin-right:8px;" class="btn btn-default btn-xs">本周</button>

                        <button type="button" onclick="timeChange(this)" data-id="4" style="width:60px;margin-right:8px;" class="btn btn-default btn-xs">本月</button>
                    </div>

                    <div class="col-sm-12">

                        <div class="col-sm-3" style="padding-left:0">

                            <button style="min-width:120px;" onclick="QueryClick(this)" class="btn btn-info btn-search">查询</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body shadow-box" style="padding-bottom:20px">

                    <div class="col-sm-12" style="margin-top:24px;">

                        <table id="TableData" class="table table-bordered" style="background-color:#FFF;width:100%;margin:0 auto; clear:both;border-top:2px solid #67c2ef;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contextBox" style="display:none;">

    <h3 class="request_detail_notfound" style="display:none">未知错误，没有找到相关信息</h3>

    <h3 class="request_detail_title" style="padding-left:6px;margin-bottom:16px"><i class="fa fa-star-half-o" style="margin-right:10px"></i>  请求基础信息</h3>

    <table class="table table-striped table-bordered" style="word-break:break-all">
        <thead>
            <tr>
                <th width="160">Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RequestId</td>
                <td class="context_requestId" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>
            <tr>
                <td>服务节点</td>
                <td class="context_node" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>
            <tr>
                <td>请求路由</td>
                <td class="context_route" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>请求地址</td>
                <td class="context_url" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>请求方式</td>
                <td class="context_method" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>请求耗时</td>
                <td class="context_milliseconds" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>响应状态码</td>
                <td class="context_statusCode" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>远程IP</td>
                <td class="context_ip" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>远程端口</td>
                <td class="context_port" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>本地IP</td>
                <td class="context_localIp" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>本地端口</td>
                <td class="context_localPort" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>请求时间</td>
                <td class="context_createTime" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>


        </tbody>
    </table>

    <h3 class="request_detail_title" style="padding-left:6px; margin-top:20px;margin-bottom:16px"><i class="fa fa-space-shuttle" style="margin-right:10px"></i>  请求详细信息</h3>

    <table class="table table-striped table-bordered" style="word-break:break-all">
        <thead>
            <tr>
                <th width="160">Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>QueryString</td>
                <td class="context_queryString" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>Header</td>
                <td class="context_header" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>Cookie</td>
                <td class="context_cookie" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>RequestBody</td>
                <td class="context_requestBody" style="text-align:left;font-size:12px"></td>
            </tr>


            <tr>
                <td>ResponseBody</td>
                <td class="context_responseBody" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>Error</td>
                <td class="context_error" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>ErrorStack</td>
                <td class="context_errorStack" style="text-align:left;font-size:12px"></td>
            </tr>


        </tbody>
    </table>

</div>

<script src="/HttpReportsStaticFiles/Content/page/detail.js?ver=1.0.1"></script>