
@{
    ViewData["Title"] = "EditMonitorRule";
    Layout = "~/Views/HttpReports/HttpReportsTemplate.cshtml";

    string Id = ViewBag.Id as string;

    List<string> nodes = ViewBag.nodes;
}


<style type="text/css">

    .wizard-type1 .tab-pane {
        padding: 18px 6px;
    }

    .wizard-type1 ul.steps li.active a {
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #67c2ef;
    }

    .wizard-type1 ul.steps li a {
        padding: 0;
        margin: 0 20px;
    }

    @@media screen and (min-width:1170px) {
        .title, .description, .email, .mobiles, .webhook {
            width: 75% !important;
        }
    }

    .tab-pane {
        margin-top: 12px;
        padding: 20px 15px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }
</style>


<div class="panel panel-default">


    <div class="panel-body  task_content" style="padding-left:30px;padding-right:30px;padding-top:30px;min-height:720px;padding-bottom:30px">

        <ol class="breadcrumb">
            <li><a href="/HttpReports/Monitor">预警监控</a></li>
            <li><span href="#">@(Id == "" || Id == "0" ? "添加" : "编辑")任务</span></li>
        </ol>

        <h3 style="margin-bottom:20px;">@(Id == "" || Id == "0" ? "添加" : "编辑")监控任务</h3>

        <div class="row">

            <div class="panel panel-default">
                <div class="panel-body" style="padding:20px 35px">

                    <div class="row form-inline form">

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">任务标题</label>
                                <input type="text" class="form-control title" placeholder="请简单输入任务标题">
                            </div>

                        </div>

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">任务描述</label>
                                <input type="text" class="form-control description" placeholder="请输入任务描述">
                            </div>

                        </div>

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px;">

                            <div class="col-lg-9 node-row">
                                <label style="width:100px" class="form-label">服务节点</label>

                                @foreach (var item in nodes)
                                {
                                    <button onclick="check_node(this)" style="width:120px;margin-right:10px;border-radius:4px;" class="btn btn-info service-button">@item</button>
                                }

                            </div>

                        </div>

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">通知邮箱</label>
                                <input type="text" class="form-control email" placeholder="告警邮件接收邮箱，支持多邮箱 aa.com,bb.com,cc.com">
                            </div>

                        </div>

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">推送地址</label>
                                <input type="text" class="form-control webhook" placeholder="告警信息推送地址Url">
                                
                            </div>

                        </div>


                        @*<hr style="border-top:2px solid #67c2ef;margin-bottom:0" />*@

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px;display:none">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">手机号列表</label>
                                <input type="text" value="" class="form-control mobiles" placeholder="告警接收手机号，支持多手机号 10086,10010...">
                            </div>

                        </div>

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px;">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">监控周期</label>
                                <select class="form-control interval">
                                    <option value="1">1分钟</option>
                                    <option value="3">3分钟</option>
                                    <option value="5">5分钟</option>
                                    <option value="10">10分钟</option>
                                    <option value="30">30分钟</option>
                                    <option value="60" selected>1小时</option>
                                    <option value="120">2小时</option>
                                    <option value="240">4小时</option>
                                    <option value="360">6小时</option>
                                    <option value="480">8小时</option>
                                    <option value="720">12小时</option>
                                    <option value="1440">1天</option>
                                </select>
                            </div>

                        </div>

                        <div class="row" style="margin-left:0;margin-right:0;margin-top:15px">

                            <div class="col-lg-9">
                                <label style="width:100px" class="form-label">任务状态</label>
                                <input type="checkbox" checked class="checkbox" data-on-text="开" data-handle-width="30" data-off-text="关" data-size="mini" value="" />
                            </div>

                        </div>


                    </div>

                    <div class="clearfix">
                    </div>


                    <div id="wizard1" class="wizard-type1" style="margin-top:20px;">

                        <div>

                            <ul class="steps nav nav-pills">
                                <li class="active"><a href="#tab11" data-toggle="tab"><span class="badge badge-info"><i class="fa fa-star"></i></span> 响应超时监控</a></li>
                                <li class=""><a href="#tab12" data-toggle="tab"><span class="badge badge-info"><i class="fa fa-credit-card"></i></span> 请求错误监控</a></li>
                                <li class=""><a href="#tab13" data-toggle="tab"><span class="badge badge-info"><i class="fa fa-building"></i></span> IP异常监控 </a></li>
                                <li class=""><a href="#tab14" data-toggle="tab"><span class="badge badge-info"><i class="fa fa-rocket"></i></span>请求量监控</a></li>
                            </ul>


                        </div>

                        <div class="tab-content">

                            <div id="tab11" class="tab-pane active">

                                <div class="row form-inline form">

                                    <div class="col-sm-12">

                                        <div class="col-lg-12">

                                            <label class="form-label" style="margin-right:10px">状态</label>

                                            <input data-id="0" type="checkbox" class="checkbox" data-on-text="开" data-handle-width="30" data-off-text="关" data-size="mini" value="" />

                                        </div>

                                    </div>


                                    <div class="col-sm-12" style="margin-top:6px">

                                        <div class="col-sm-3">
                                            <label class="form-label" style="width:80px">超时时间</label>
                                            <input type="text" class="form-control RtTime" placeholder="">
                                        </div>

                                        <div class="col-sm-3" style="padding:0">
                                            <label class="form-label">百分比</label>
                                            <input type="text" value="0.00%" class="form-control RtPercent" placeholder="格式 0.01% 15% ... ">
                                        </div>

                                    </div>

                                    <div class="col-sm-12" style="margin-top:20px;">

                                        <div style="margin-left:12px; margin-right:12px;margin-bottom:0" class="alert alert-info" role="alert">

                                            <p><b>响应超时监控</b>：主要针对一段时间内接口调用超时率过高；</p>

                                            <p>1.设定接口超时时间(毫秒)；  2.设置接口超时百分比，支持 两位小数点，5%,0.03%,30%等,超时率达到或大于设定值时会触发预警；</p>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab12">

                                <div class="row form-inline form">

                                    <div class="col-sm-12">

                                        <div class="col-lg-12">

                                            <label class="form-label" style="margin-right:10px">状态</label>

                                            <input type="checkbox" class="checkbox" data-on-text="开" data-handle-width="30" data-off-text="关" data-size="mini" value="" />

                                        </div>

                                    </div>

                                    <div class="col-sm-12" style="margin-top:6px">

                                        <div class="col-sm-3">
                                            <label class="form-label">HTTP状态码</label>
                                            <input type="text" class="form-control HttpCodes" placeholder="多个用逗号隔开">
                                        </div>

                                        <div class="col-sm-3">
                                            <label class="form-label">百分比</label>
                                            <input type="text" value="0.00%" class="form-control HttpPercent" placeholder="格式 0.01% 15% ... ">
                                        </div>

                                    </div>

                                    <div class="col-sm-12" style="margin-top:20px;">

                                        <div style="margin-left:12px;margin-right:12px;margin-bottom:0" class="alert alert-info" role="alert">

                                            <p><b>请求错误监控</b>：主要针对一段时间内接口调用错误率过高；</p>

                                            <p>1.设定Http状态码,500,503,404,多个状态码用英文逗号隔开； 2.设置命中率,支持 两位小数点，5%,0.03%,30%等，命中率达到或大于设定值时会触发预警；</p>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab13">

                                <div class="row form-inline form">

                                    <div class="col-sm-12">

                                        <div class="col-lg-12">

                                            <label class="form-label" style="margin-right:10px">状态</label>

                                            <input type="checkbox" class="checkbox" data-on-text="开" data-handle-width="30" data-off-text="关" data-size="mini" value="" />

                                        </div>

                                    </div>


                                    <div class="col-sm-12" style="margin-top:6px">

                                        <div class="col-sm-3">
                                            <label class="form-label">IP白名单</label>
                                            <input type="text" class="form-control IPWhiteList" placeholder="多个用逗号隔开">
                                        </div>

                                        <div class="col-sm-3">
                                            <label class="form-label">百分比</label>
                                            <input value="0.00%" type="text" class="form-control IPPercent" placeholder="格式 0.01% 15% ... ">
                                        </div>

                                    </div>

                                    <div class="col-sm-12" style="margin-top:20px;">

                                        <div style="margin-left:12px;margin-right:12px;margin-bottom:0" class="alert alert-info" role="alert">

                                            <p><b>IP异常监控</b>：主要针对一段时间内大量固定IP请求，类似机器人请求;</p>

                                            <p> 1.设置IP白名单(可不填),多个IP地址中间用英文逗号分开；  2.设置重复率，支持 两位小数点，5%,0.03%,30%等,当IP重复率达到或大于设定值时,触发预警； </p>

                                        </div>

                                    </div>

                                </div>


                            </div>

                            <div class="tab-pane" id="tab14">

                                <div class="row form-inline form">

                                    <div class="col-sm-12">

                                        <div class="col-lg-12">

                                            <label class="form-label" style="margin-right:10px">状态</label>

                                            <input type="checkbox" class="checkbox" data-on-text="开" data-handle-width="30" data-off-text="关" data-size="mini" value="" />

                                        </div>

                                    </div>

                                    <div class="col-sm-12" style="margin-top:6px">

                                        <div class="col-sm-3">
                                            <label class="form-label">最大请求数量</label>
                                            <input type="text" class="form-control RequestCount">
                                        </div>

                                    </div>

                                    <div class="col-sm-12" style="margin-top:20px;">

                                        <div style="margin-left:12px;margin-right:12px;margin-bottom:0" class="alert alert-info" role="alert">

                                            <p><b>请求量监控</b>：主要针对一段时间内接口大量请求；</p>

                                            <p> 1.设置单位时间内接口最大请求量,当请求量达到或者大于设定时触发预警 </p>

                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>

                        <input type="hidden" class="id" value="@(Id)">

                        <div class="actions" style="margin-top:15px;margin-bottom:8px;">
                            <button onclick="saveMonitorJob()" type="button" class="btn btn-info button-previous" style="width:80px"> 保 存 </button>

                            <a href="/HttpReports/Monitor" type="button" class="btn btn-info button-previous" style="width:120px;margin-left:20px"> 返回上一页 </a>

                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>

</div>  

<script src="/HttpReportsStaticFiles/Content/page/edit_monitor.js?ver=1.0.3"></script>


