@{
    ViewData["Title"] = "Trace";
    Layout = "~/Views/HttpReports/HttpReportsTemplate.cshtml"; 
  
} 
 
<div class="panel panel-default">

    <div class="panel-body" style="padding-left:30px;padding-right:30px;padding-top:30px;min-height:720px;padding-bottom:30px">

        <h3>12122</h3>
       
    </div>
</div>

<script src="/HttpReportsStaticFiles/Content/page/trace.js?ver=1.0.1"></script>