
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HttpReports</title>

    <link class="theme" id="theme_light" href="/HttpReportsStaticFiles/Content/css/theme/light.css?ver=1.0.3" rel="stylesheet" />
    <link class="theme" id="theme_dark" href="/HttpReportsStaticFiles/Content/css/theme/dark.css?ver=1.0.3" rel="stylesheet" />

    <link href="~/HttpReportsStaticFiles/Content/login/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/HttpReportsStaticFiles/Content/login/css/my-login.css">
    <link href="/HttpReportsStaticFiles/Content/login/css/style.css" rel="stylesheet" />
    <link href="/HttpReportsStaticFiles/Content/css/animate/3.5.2/animate.min.css" rel="stylesheet" />


    <script src="/HttpReportsStaticFiles/Content/login/js/jquery.min.js"></script>
    <script src="/HttpReportsStaticFiles/Content/login/js/jquery.particleground.js"></script>

    <script src="/HttpReportsStaticFiles/Content/page/user_login.js"></script>
    <script src="/HttpReportsStaticFiles/Content/page/main.js"></script>
    <link href="/HttpReportsStaticFiles/Content/alert/alert.css?ver=1.0.3" rel="stylesheet" />
    <script src="/HttpReportsStaticFiles/Content/alert/alert.js?ver=1.0.3"></script>

    <link href="/HttpReportsStaticFiles/Content/message/message.css" rel="stylesheet" />
    <script src="/HttpReportsStaticFiles/Content/message/message.js"></script>
    <script src="/HttpReportsStaticFiles/Content/common/basic.js?ver=1.0.3"></script>
    <link rel="icon" href="/HttpReportsStaticFiles/Content/assets/img/img.ico" type="image/x-icon" />


</head>
<body class="my-login-page">
    
    <div id="particles">

        <div class="intro">

            <div class="card-wrapper" style="margin:0 auto;">

                <div class="card fat">
                    <div class="card-body">

                        <div class="brand">
                            <img src="/HttpReportsStaticFiles/Content/login/img/logo3.png">
                        </div>

                        <div style="text-align:center">
                            <h3 class="hr_title animated slideInDown">HttpReports</h3>
                        </div>

                        <div class="form-group">
                            <label for="email">用户名</label>

                            <input  type="text" class="form-control username" name="email" value="" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">
                                密码

                            </label>
                            <input    type="password" class="form-control password" name="password" required data-eye>
                        </div>

                        <div class="form-group">
                            <button onclick="login()" type="submit" class="btn btn-primary btn-block">
                                登 录
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div> 
     

    </div> 


</body>
</html>  